.alert {
  width: 80%;
  position: fixed;
  top: 25%;
  left: 10%;
  background-color: var(--secondary);
  padding: 20px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .alert {
    width: 70%;
    left: 15%;
  }
}

@media screen and (min-width: 1280px) {
  .alert {
    width: 50%;
    left: 25%;
  }
}
